/*---- POKEDEX CONTAINER ----*/
#pokedex-container {
    display: flex;
    max-width: 80%;
    height: inherit;
    max-height: 80%;
    float: left;
    margin: 0px 15px 0px 15px;
    overflow: hidden;
}

#pokedex-container::-webkit-scrollbar { 
    display: none;
}

#pokedex-container > div {
    flex: 1;
  }

/*---- TYPE LIST ----*/
#type-list {
    display: block;
    max-width: 100px;
    border-right: 3px solid #ffecce;
    padding: 0px 10px 0px 0px;
    overflow: scroll;
}

#type-list::-webkit-scrollbar { 
    display: none;
}

.type-list-item {
    display: block;
    max-width: inherit;
    background-color: #ffecce;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px;
    padding: 5px;
}

.type-list-item:hover {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #ffffff88;
}

.type-list-item:active {
    color: #ffffffff;
}

/*---- POKEDEX LIST ----*/
#pokedex-list {
    display: block;
    min-width: 100px;
    max-width: 120px;
    border-right: 3px solid #ffecce;
    padding: 0px 10px;
    overflow: scroll;
}

#pokedex-list::-webkit-scrollbar { 
    display: none;
}

.pokedex-list-item {
    display: block;
    max-width: inherit;
    background-color: #ffecce;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px;
    padding: 5px;
}

.pokedex-list-item:hover {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #ffffff88;
}

.pokedex-list-item:active {
    color: #ffffffff;
}

/*---- RIGHT SIDE ----*/
#forms {
    display: inline;
}

#info-right {
    display: block;
    max-width: 50%;
    max-height: inherit;
    margin: 10px 15px 0px 15px;
    padding: 0px 10px 0px 0px;
    overflow: scroll;
}

#info-right::-webkit-scrollbar { 
    display: none;
}

/*---- INPUT ----*/
input[type=submit] {
    font-family: 'Segoe UI';
    font-size: 12px;
    text-decoration: none;
    background-color: #ffecce;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
}

input[type=text] {
    font-family: 'Segoe UI';
    font-size: 12px;
    text-decoration: none;
    background-color: #ffffff00;
}

input:hover {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #ffffff88;
}

input:active {
    color: #ffffffff;
}